/* Global Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Auth Container */
  .auth-container {
    width: 100%;
    max-width: 400px;
  }
  
  /* Form Card Styling */
  .form-card {
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  
  h2 {
    color: #333;
    margin-bottom: 15px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #5a67d8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #434190;
  }
  
  a {
    color: #5a67d8;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  